.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: -1;
  z-index: 1;
}

.text-container h3 {
  font-size: xx-large;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 1;
}

.enProceso {
  max-width: 100%;
  height: auto;
}